---
const { href = "", icon = "", path = "" } = Astro.props;
---

{
  href ? (
    <a class="location" href={href}>
      <div class="img-container ">
        {path ? <img src={path} /> : <Fragment set:html={icon.html} />}
      </div>
      <span>
        <slot />
      </span>
    </a>
  ) : (
    <div class="location">
      <div class="img-container">
        <Fragment set:html={icon.html} />
      </div>
      <span>
        <slot />
      </span>
    </div>
  )
}

<style>
  * {
    box-sizing: border-box;
    margin: 0.05em 0.1em;
    padding: 0;
    font-size: 1em;
  }
  .img-container {
    display: inline;
    width: 1rem;
    height: 1rem;
    padding-top: 0.1em;
    margin-right: 0.5em;
  }
  .location {
    text-decoration: none;
    display: flex;
    padding-bottom: 0.6em;
    color: inherit;
  }
  img {
    width: 100%;
  }
</style>
